<button type="button" class="js-menu-trigger sliding-menu-button">
  <div class="icon">
		<i class="fa fa-shopping-cart"></i>
	</div>
</button>

<nav class="js-menu sliding-menu-content">
	<% if @orders.size == 0 %>
		<ul>
			<li class="order-name">There are no items in your shopping cart.</li>
		</ul>
	<% else %>
		<ul>
			<% @orders.each do |order| %>
				<li class="order-name"><%= order.product.name %></li>
				<li>
				<%= link_to "Remove", order, { data: { confirm: "Are you sure you want to remove the item?"}, method: :delete, remote: true, class: "btn btn-danger"} %>
				</li>
			<% end %>
		</ul>
	<% end %>
</nav>

<div class="js-menu-screen sliding-menu-fade-screen"></div>
