.cart-info-bar {
	background-color: lighten($light-blue, 20%);
	text-align: center;
	// padding: 0.1em;
	box-shadow: 0px -3px 3px $light-gray;
	// margin-bottom: 0.25em;
	position: fixed;
	bottom: 0;
	z-index: 99999;

	.cart-text {
		font-size: 0.75em;
		display: inline;
	}

	.items-count {
		color: white;
		display: inline;
		text-align: center;

		p {
			display: inline;
			padding-left: 0.5em;
		}
	}

	button {
		display: inline;
		width: 4em;
	}
}

.cart-item-listing {
	.order-name {
    color: $light-blue;
    padding-left: 1em;
  }
  
 	li {
		color: $light-gray;
		font-size: 0.75em;
		padding-left: 2em;
	}
	
	border-bottom: 1px solid $dark-gray;
	margin-bottom: 1em;
	padding: 0.25em;
}
