<h1>Products#index</h1>

<div class="cart-text">
	<%= render "carts/cart_text" %>
</div>

<div class="cart-list">
	<%= render "carts/cart" %>
</div>

<div class="cards">
	<div class="products-list">
		<%= render @products %>
	</div>
</div>