<h1>Products#index</h1>

<% @products.each do |product| %>
	<ul>
		<li>Name <%= product.name %></li>
		<li>Description <%= product.description %></li>
		<li>Price $<%= product.price %></li>
		<li><%= image_tag(product.image_url.to_s) %></li>
	</ul>
<% end %>